<li>
  <ul>
    <li><%= comment.user.try(:name) %></li>
    <li><%= comment.title %></li>
    <li><%= comment.comment %></li>
    <%#= link_to 'Delete Comment', podcast_episode_comment_path(comment, commentable_type: commentable.class.to_s.underscore, commentable_id: commentable.id, episode_id: @episode.id), method: :delete %>
  </ul>
</li> 