<!-- <li>
  <ul>
    <li><%#= comment.user.try(:name) %></li>
    <li><%#= comment.comment %></li>
  </ul>
</li> -->







<div class="comment">
  <section class="top">
    <h6 class="byline">
      <a href="/users/<%= comment.user_id %>"><i class="icon"></i><%= comment.user.try(:name) %></a>
    </h6>
  </section>
  <section class="content">
    <p><%= comment.comment %></p>
  </section>
</div>
<hr>
