<table class="body border-none padding-none" style="width: 100%;">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <%= render @episodes %>
      </center>
    </td>
  </tr>
</table>
