<div id="landing-page-first" data-equalizer>
  <div class="image-wrapper overlay-fade-in">
    <img src="/images/microphone-background.jpeg" />
    <div class="image-overlay-content">
      <h2>Podable is an online database of podcasts! Search for your favourite podcast and interact with others in the comments!</h2>
      <a href="/podcasts/<%= @podcast.id %>/episodes" class="button">View Random Podcast</a>
    </div>
  </div>
</div>